{{template "base" .}}

<!-- for own css -->
{{define "css"}}
    
{{end}}

{{define "content"}}
<div class="container">
    <div class="row mt-3">
      <h1 class="text-center">Contact</h1>
    </div>
</div>
{{end}}

<!-- for own js -->
{{define "js"}}
    
{{end}}
